.statistic {
  width: 117rem;
  border-radius: 3rem;
  box-shadow: 0px 73px 80px 0px #0000000f;
  margin-right: auto;
  margin-left: auto;
  padding: 6.4rem 5.4rem 9.2rem 5.4rem;
  text-align: center;
  position: relative;
  top: -16.1rem;
  background-color: $white-color;
}
.statistic__title {
  color: $blue-black-color;
  font-size: 2.4rem;
  line-height: 0.93;
  margin-bottom: 8rem;
}
.statistic__bottom {
  color: $cyan-color;
  display: flex;
  justify-content: space-between;
}
.service {
  padding-top: 4rem;
  padding-bottom: 20rem;
}
.service__top {
  width: 117rem;
  margin-bottom: 20rem;
}
.service__top__poragrph {
  color: $blue-black-color;
  font-family: $secondary-font;
  font-size: 2.4rem;
  line-height: 0.93;
  text-decoration: underline;
  margin-bottom: 3rem;
  text-align: center;
}
.service__top__title {
  color: $cyan-color;
  width: 51rem;
  margin-bottom: 7rem;
  margin-right: auto;
  margin-left: auto;
}
.service__top__list {
  display: flex;
  gap: 2.6rem;
}
.service__top__item {
  width: 27.3rem;
  padding: 3rem 2.8rem 3.4rem 3rem;
  box-shadow: 0px 41.777610778808594px 33.422088623046875px 0px #0000000d;
}
.top__list__icon {
  margin-bottom: 2.5rem;
  width: 5rem;
  height: 5rem;
}
.top__list__title {
  color: $black-color;
  margin-bottom: 1rem;
}
.top__list__poragrph {
  color: $grey-text-color;
  font-size: 1.6rem;
  line-height: 1.5;
}
.service__top__item:hover {
  background-color: $cyan-color;
  h4 {
    color: $white-color;
  }
}

.service__bottom {
  h2 {
    width: 46.9rem;
    color: $cyan-color;
    margin-right: auto;
    margin-left: auto;
  }
  p {
    width: 56.9rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6rem;
    color: $main-text-color;
  }
}

.featured__cards__top {
  display: flex;
  justify-content: space-between;
  gap: 14rem;
  div {
    width: 51.5rem;
    margin-bottom: 7rem;
    img {
      margin-bottom: 4rem;
    }
    h3 {
      color: $cyan-color;
      margin-bottom: 1rem;
    }
    p {
      width: 43rem;
      margin-left: 0;
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }
    a {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 1.4;
      position: relative;
    }
    a::before {
    }
  }
}
.featured__card__bottom {
  display: flex;
  justify-content: space-between;
  gap: 14rem;
  div {
    width: 51.5rem;
    margin-bottom: 7rem;
    img {
      margin-bottom: 4rem;
    }
    h3 {
      color: $cyan-color;
      margin-bottom: 1rem;
    }
    p {
      margin-left: 0;
      margin-bottom: 2rem;
      width: 43rem;
      font-size: 1.6rem;
    }
    a {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 1.4;
      position: relative;
    }
    a::before {
    }
  }
}

.featured__card__link {
  color: $cyan-color;
}
.featured__card__orange-link {
  color: $orange-color;
}
.about {
  background: url(../images/hero-blur-image-bg.png);
  background-color: $cyan-color;
  margin-bottom: 10rem;
}
.about__container {
  display: flex;
  align-items: center;
  div {
    img,
    p {
      margin-bottom: 3.3rem;
    }
    p {
      line-height: 1.5;
      font-size: 1.6rem;
    }
  }
}
.about__text__poragrph {
  color: $white-color;
}

.about__text__bporagrph {
  color: $about-text_color;
}
.footer__logo{
  margin-bottom: 2rem;
}
.social__poragrph{
  color: $main-text-color;
  margin-bottom: 5.5rem;
}
.social__icon__img{
  margin-right: 2rem;
}
.social__icon__img:hover svg path {
  fill: #ffa800;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.social {
  width: 34.4rem;
}
.footer__list{
  h4 {
    color: $cyan-color;
    margin-bottom: 2.8rem;
  }
  a{
    color: $main-text-color;
    margin-bottom: 1rem;
  }
}