$main-text-color: #757575;
$secondary-text-color: #696969;
$secondary-text-light-color: #787878;
$hero-header-bg: #043e51;
$orange-color: #ffa63a;
$grey-color: #849499;
$grey-light-color: #b6cdd4;
$blue-black-color: #265a6a;
$white-grey-color: #f5fbfc;
$black-color: #0f1221;
$grey-text-color: #696969;
$about-text_color:#AABFC6;

$cyan-color: #08546c;
$cyan-color-light: #145e76;
$cyan-color-seondary-light: #094556;
$white-color: #ffffff;
$link-color: #a1b5bb;

$main-font: "Inter", sans-serif;
$secondary-font: "Schoolbell", cursive;

$h1-fs: 6.4rem;
$h1-lh: 1.25;

$h2-fs: 4.5rem;
$h2-fw: 600;
$h2-lh: 1.33;

$h4-fs: 2.4rem;
$h4-fw: 600;
$h4-lh: 1.2;

$h4-fw-light: 500;

$h3-fs: 3rem;
$h3-fw: 600;
$h3-lh: 0.94;
